@charset "utf-8";
/* CSS Document */
body {font:18px/1.5 "黑体";}

.box{ width:970px; margin:0 auto; text-align:left;}
.mLose{ margin:0 -12px;}
.mJust{ margin:0 12px;}
.marB{ margin-bottom:24px;}

.bgW{ background:#fff;}
.bgR{ background:#b41e16;}
.bgG{ background:#6e6e6e;}
.bgW{ padding:30px 0; text-align:center;}

.rankBox{ width:461px; overflow:hidden;}
.smgMake{ overflow:hidden; width:276px;}
.catchUpTV{ overflow:hidden; width:185px;}
.rankBox h2.tit,.smgMake h2.tit,.catchUpTV h2.tit,.mediaPerson h2.tit{ padding-top:30px; height:0px; overflow:hidden; margin:0px; background:#fff url(../images/tit.png) no-repeat; position:relative; line-height:100px;}
.rankBox h2.tit{ background-position:0 -85px;}
.smgMake h2.tit{ background-position:0 -43px;}
.catchUpTV h2.tit{ background-position:0 -9px;}
.mediaPerson h2.tit{ width:112px; background-position:0 -120px;}

/*--热点--*/
.rankBox .tabtit{ display:none;}
.rankCon{ margin-top:-1.2em;}
.rankList{ position:relative; margin-top:1.5em;}
.rankList span.num{ position:absolute; z-index:10; left:0; top:0; width:20px; height:20px; text-align:center; overflow:hidden; color:#fff; font-size:12px;}
.rankList .pictit{ position:absolute; z-index:5; left:0; top:0; width:120px; height:68px; overflow:hidden;}
.rankList .pictit img{ width:100%;}
.ranktxt{ border-bottom:1px solid #eee; position:relative; padding:0 6px; margin-left:130px; min-height:79px;}
.ranktxt p{ height:3em; overflow:hidden;}
.ranktxt span.tag{ position:absolute; z-index:10; right:0; bottom:0; padding:0 8px; height:20px; line-height:20px; overflow:hidden; text-align:center; background:#eee; color:#999; font-size:12px;}

/*--SMG出品--*/
.smgMakeTit{ display:none;}
.smgMake ul{ margin-top:0.3em;}
.smgMake li{ float:left; display:inline; width:276px; overflow:hidden;}
.smgMake .pictit{ position:relative; height:155px; overflow:hidden;}
.smgMake .pictit span.tag{ position:absolute; z-index:10; top:0; right:0; background:#607d8b; color:#fff; padding:0 10px; height:25px; line-height:25px; font-size:12px;}
.smgMake .pictit img{ width:100%;} 
.smgMake .title{ font-weight:700; height:1.5em; overflow:hidden; margin-top:2px;}
.smgMake span.time{ font-size:12px; color:#888; display:block; margin-bottom:5px; font-family:Arial;}

/*--电视回看--*/
.catchUpTVBox{ width:185px; overflow:hidden; margin-top:-0.5em;}
.catchUpTVLeft li,.catchUpTVRight li{ padding-top:0.8em; float:left; display:inline; width:185px;}
.catchUpTVBox .hLink{ width:85px; overflow:hidden;}
.catchUpTVBox a img{ display:block; width:100%;}

/*--媒体人--*/
.mediaPerson{ background:url(../images/line.gif) repeat-x 0 5px;}
.mediaBox ul{ margin-top:-12px;}
.mediaBox li{ float:left; display:inline; width:224px; overflow:hidden; margin:24px 12px 0 12px;}
.mediaBox li .pictit{ width:80px; height:80px; overflow:hidden; position:relative;}
.mediaBox li .pictit img{ display:block;}
.mediaBox li .pictit span.name{ position:absolute; left:0; bottom:0; height:20px; line-height:20px; width:80px; text-align:center; color:#fff; font-size:12px; background:rgba(0,0,0,0.5);}
.mediaBox li .newest{ border:1px solid #dbdbdb; border-left:0; background:#eee; height:78px; padding:0 12px; width:119px; overflow:hidden;}
.mediaBox li .newest p.title{ font-weight:700; height:3em; overflow:hidden; margin-top:0.5em;}
.mediaBox li .newest p.intro{ height:3em; overflow:hidden; display:none;}

@media (max-width: 768px){
.box{ width:728px; margin:0 auto;}
.mLose{ margin:0 -10px;}
.mJust{ margin:0 10px;}
.marB{ margin-bottom:20px;}

.rankBox{ width:344px; overflow:hidden;}
.smgMake{ overflow:hidden; width:206px;}
.catchUpTV{ overflow:hidden; width:138px;}

/*--热点--*/
.rankCon{ margin-top:-0.8em;}
.rankList{ position:relative; margin-top:1.1em;}
.rankList .pictit{ width:90px; height:51px;}
.ranktxt{ margin-left:100px; min-height:66px;}

/*--SMG出品--*/
.smgMake li{ float:left; display:inline; width:206px; overflow:hidden;}
.smgMake .pictit{ height:116px;}

/*--电视回看--*/
.catchUpTVBox{ width:138px; margin-top:-0.2em;}
.catchUpTVLeft li,.catchUpTVRight li{ padding-top:0.5em; width:138px;}
.catchUpTVBox .hLink{ width:65px; overflow:hidden; }
.catchUpTVBox a img{ display:block; width:100%;}

/*--媒体人--*/
.mediaBox ul{ margin-top:-10px;}
.mediaBox li{ float:left; display:inline; width:354px; overflow:hidden; margin:20px 10px 0 10px;}
.mediaBox li .newest{ border:1px solid #dbdbdb; border-left:0; background:#eee; height:78px; padding:0 10px; width:253px; overflow:hidden; font-size:0.9em;}
.mediaBox li .newest p.title{ font-weight:700; height:1.5em; overflow:hidden; margin-top:0.2em;}
.mediaBox li .newest p.intro{ display:block;}
}
/*栏目*/
.board-container .container{ width:970px; margin:0 auto;}
.marR{ margin-right:16px;}
.marL{ margin-left:16px;}
.marRL{ margin-left:8px; margin-right:8px;}
.marT{ margin-top:24px;}
.padB{ padding-bottom:24px;}
.bg_grey{ background:#eeeeee;}
.bg_greyer{ background:#616161;}
/*栏目版块*/
.board-container .newsbox{ width:100%; text-align:left;}
.board-container .newsbox .news{ height:310px; overflow:hidden;}
.board-container .newsbox .news .newstit{width:33.333%; float:left;display:inline;}
.board-container .tit{ font-size:1.25em; height:1em; line-height:1em; margin-bottom:20px; padding-top:30px;}
.board-container .tit span{ font-weight:bold; float:left;}
.board-container .tit a{ float:right; font-size:0.7em; display:inline-block;}
.board-container .newsbox .tit a{  background: #eeeeee url(../images/more.png) no-repeat;padding-left: 2em; background-position-y: center;background-position-x: 1em;}
.board-container.kkimgdiv .tit a{  background: url(../images/more1.png) no-repeat; width: 18px;height: 100%;background-position-y: center;}
.board-container.kkimgdiv .tit{ color:#fff; padding-top:20px;}
.board-container .newsbox .news .imgset,.board-container .newsbox .news .imgset2,.board-container .newsbox .news .imgset3{background: #ffffff; position: relative; border: 1px solid #dcdcdc; height:236px; overflow:hidden ;}
.board-container .newsbox .news .imgset3{ height:70px; margin-bottom:11px;}
.board-container .newsbox .news .list{ height:236px; overflow:hidden;}
.board-container .newsbox .news .imgset img ,.board-container .newsbox .news .imgset2 img{ width:100%;}
.board-container .newsbox .news .imgset span, .board-container .newsbox .news .imgset2 span{ display: block; position: absolute; right: 0; top:0; color: #fff; z-index: 1000; background: #b0120a; font-size:14px; width: 50px; height: 30px; text-align: center; line-height: 30px;;}
.board-container .newsbox .news .imgset p, .board-container .newsbox .news .imgset2 p{ margin:10px; overflow:hidden; height:40px; line-height:20px;}
.board-container .newsbox .news .imgset3 img{ width:40%; float:left; display:inline;}
.board-container .newsbox .news .imgset3 p{ width:50%; height:50px; float:left; display:inline; margin: 10px 0 10px 5%; overflow:hidden;}
.board-container .newsbox .news .list ul li{ height:22px; overflow:hidden; margin-bottom: 20px;}
/*看看图解*/
.board-container .swiper-container{ height: 177px; overflow: hidden;}
.board-container .swiper-container .kkimg{ width:33.333333%}
.board-container .swiper-container .swiper-slide, .board-container .swiper-container .swiper-slide .kkimg{ float:left; display:inline;}
.board-container .swiper-container .swiper-slide .kkimg img{ width:95%; margin:0 2.5%; *margin:0 11px;}
.board-container .pagination { text-align: center; padding-bottom: 20px; margin-top:20px;}
.board-container .pagination span.swiper-pagination-switch{ display: inline-block; margin-left: 10px; width: 12px; height: 12px; overflow: hidden; background: #808080; border: 2px solid #d0d0d0; border-radius: 8px; text-indent: 10em;cursor: pointer;}
.board-container .pagination span.swiper-visible-switch.swiper-active-switch {background: #f00;}

/* 专题新闻 */
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.bg_first{min-width:970px;background:url(../images/first_bg.png) no-repeat center top;}

/*头块*/
.area-wrapper{margin:0 auto;width:970px;text-align: left;}
.slide_show .slide_block img{width:473px;height:260px;}
.slide_show .swiper-slide .share,.pic .share{position:absolute;top:0;left:0;z-index:10;display:none;width:60px;height:28px;background:url(../images/share.png) no-repeat;}
.slide_show .swiper-slide .share i,.pic .share i{position:relative;z-index:10;float:left;width:30px;height:30px;cursor:pointer;}
.top-main .main-con{float:left;display:inline;}
.top-main .new-con{float:left;display:inline;font-family:"微软雅黑";line-height:20px;}


.area-wrapper .slide_show{position:relative;margin-bottom:30px;width:473px;height:290px;}
.area-wrapper .slide_block{position:relative;height:260px;}
.area-wrapper .slide_block .cover{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.2);}
.area-wrapper .slide_title{position:relative;height:35px;color:#fff;font-size:1.1em;font-family:"微软雅黑";line-height:1.8}

.slide_show .swiper-container{width:473px;height:295px;background:url(../images/back.png) repeat;margin:0 auto;position:relative;overflow:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;/* Fix of Webkit flickering */z-index:1;}
.swiper-wrapper{position:relative;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;width:100%;-webkit-transition-timing-function:ease;-moz-transition-timing-function:ease;-o-transition-timing-function:ease;transition-timing-function:ease;-webkit-transition-duration:0s;-moz-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s;-webkit-transition-property:-webkit-transform,left,top;-moz-transition-property:-moz-transform,left,top;-o-transition-property:-o-transform,left,top;transition-property:transform,left,top;-webkit-transform:translate3d(0px,0,0);-moz-transform:translate3d(0px,0,0);-o-transform:translate3d(0px,0,0);-o-transform:translate(0px,0px);transform:translate3d(0px,0,0);-ms-transition-property:-ms-transform,left,top;-ms-transition-duration:0s;-ms-transform:translate3d(0px,0,0);-ms-transition-timing-function:ease;}
.swiper-slide{position:relative;float:left;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal{-ms-touch-action:pan-y;}
.swiper-wp8-vertical{-ms-touch-action:pan-x;}


/*新闻图片文字*/
.top-main .news_wrapper{float:left;display:inline;margin-right:24px;width:224px;}
.top-main .news_wrapper .pic{height:125px;}
.top-main .news_block .pic{position:relative;}
.top-main .news_block .pic a{display:block;}
.top-main .news_block .pic em{position:absolute;bottom:0;left:0;z-index:4;display:block;overflow:hidden;width:100%;height:35px;color:#fff;text-align:center;font-weight:700;font-style:normal;font-size:0.8em;line-height:3;}
.top-main .news_block .pic span{position:absolute;bottom:0;left:0;z-index:3;display:block;width:100%;height:35px;background:#000;opacity:.5;-moz-opacity:.5;filter:alpha(opacity=50);}
.top-main .news_block .pic a img{display:block;width:100%;vertical-align:middle;}
.top-main .txt{padding:7px 0 7px 10px;background:url(../images/back.png) repeat;}
.top-main .txt li{max-height: 30px;overflow: hidden;padding-left:7px;background:url(../images/point.png) no-repeat left center;color:#000;font-size:0.8em;line-height:2;}
/*板块新闻*/
.top-main .summary-l{margin-bottom:25px;padding:10px 20px;width:433px;height:60px;border-bottom:1px solid #b0120a;background:url(../images/back.png) repeat;}
.top-main .summary-l a{color:#000;font-weight:700;font-size:0.9em;}
.top-main .summary-l a.block-tit{margin-right:10px;}
.top-main .summary-l p{color:#333;font-size:14px;}
.top-main .summary-l span{padding:0 1px;border-radius:3px;background:#b0120a;color:#fff;font-size:12px;}
.top-main .summary-l .tab a{float:left;display:inline;padding:10px 4px 2px 0;font-weight:normal;font-size:0.8em;}
.top-main .summary-s{position:relative;margin-bottom:30px;width:473px;}
.top-main .tab-class{position:absolute;right:0;bottom:0;width:50px;height:25px;background:#b0120a;color:#fff;text-align:center;font-size:1em;line-height:25px;}
.top-main .summary-s .summary{position:relative;padding:10px 10px;width:208px;height:60px;border-bottom:1px solid #b0120a;background:url(../images/back.png) repeat;font:0.9em/1.6 "微软雅黑";}
.area-wrapper .tab-kp{font-weight:700;}
.area-wrapper span.tab-title{margin-left:10px;color:#000;}
.area-wrapper span.tab-con{display:inline-block;width:100px;height:35px;background:#b0120a;text-align:center;font-weight:700;}

/*滚动点*/
.slide_show .page{position:absolute;right:10px;bottom:0;display:inline;z-index: 1000;}
.slide_show .page span{display:inline-block;overflow:hidden;margin:0 1px;margin-top:10px;width:20px;height:12px;background:url(../images/line.png) no-repeat;background-position:-20px -36px;cursor:pointer;}
.slide_show .page span.swiper-visible-switch{background-position:-20px -11px;}
.slide_show .page span.swiper-active-switch{background-position:0 -11px;-moz-animation:a_slidercurrent 5s linear;-webkit-animation:a_slidercurrent 5s linear;-o-animation:a_slidercurrent 5s linear;animation:a_slidercurrent 5s linear;}
@-moz-keyframes a_slidercurrent { from { background-position: -20px -11px; } to { background-position: 0px -11px;} }
@-webkit-keyframes a_slidercurrent { from { background-position: -20px -11px; } to { background-position: 0px -11px;} }
@-o-keyframes a_slidercurrent { from { background-position: -20px -11px; } to { background-position: 0px -11px;} }
@keyframes a_slidercurrent{ from { background-position: -20px -11px; } to { background-position: 0px -11px;} }
@-moz-keyframes a_slidercurrent_b{ from { background-position: -20px -11px; } to { background-position: 0px -11px;} }
@-webkit-keyframes a_slidercurrent_b { from { background-position: -20px -11px; } to { background-position: 0px -11px;} }
@-o-keyframes a_slidercurrent_b { from { background-position: -20px -11px; } to { background-position: 0px -11px;} }
@keyframes a_slidercurrent_b { from { background-position: -20px -11px; } to { background-position: 0px -11px;} }





@media (max-width: 992px) {
	.marR{ margin-right:10px;}
	.marL{ margin-left:10px;}
	.marT{ margin-top:10px;}
	.padB{ padding-bottom:20px;}
	.board-container .container{ width:728px;}
	.board-container .tit{ padding-top:30px;}
	.board-container .newsbox .news{ height:335px;}
	.board-container .newsbox .news .newstit{width:50%;}
	.board-container .newsbox .news .imgset, .board-container .newsbox .news .imgset3{ height:269px;}
	.board-container .newsbox .news .list{ height:230px;}
	.board-container .newsbox .news .imgset2 { height:20px; mar 0; background:none; border:none; margin:0; margin-bottom:20px;}
	.board-container .newsbox .news .imgset2 span,.board-container .newsbox .news .imgset2 img{ display:none;}
	.board-container .newsbox .news .imgset2 p{ margin:0; margin-left:10px; height:inherit; }
	.board-container .newsbox .news .imgset3{ height:78px; margin-bottom:14px;}
	.board-container .newsbox .news .list ul li{ margin-bottom:19px;}
	.board-container .swiper-container{ height:137px;}
}

@media (max-width: 768px) {
	.bg_first{min-width: 750px;}
	.area-wrapper{width: auto;font-size: 14px;}
	.slide_show .swiper-container{width:365px;height:245px;}
	.slide_show .slide_block img{width:365px;height:205px;}
	.top-main .new-con{float:left;display:inline;font-family:"微软雅黑";line-height:20px;}

	.area-wrapper .slide_show{position:relative;margin-bottom:0px;width:365px;height:245px;}
	.area-wrapper .slide_block{position:relative;height:205px;}
	.area-wrapper .slide_title{position:relative;height:35px;color:#fff;font-size:1.2em;font-family:"微软雅黑";line-height: 2.5}
	.top-main .bg_first{background:url(../images/first_bg.png) no-repeat;}

	/*新闻图片文字*/
	.top-main .news_wrapper{float:left;display:inline;margin-top:20px;margin-right:24px;width:365px;}
	.top-main .news_wrapper .pic{width:120px;height:68px;}
	.top-main .news_block{width:384px;}
	.top-main .news_block .pic a img{display:block;width:100%;vertical-align:middle;}
	.top-main .news_block .pic{position:relative;float:left;}
	.top-main .txt{float:left;padding:7px 0 5px 10px;width:235px;}
	.top-main .txt li{padding-left:7px;background:url(../images/point.png) no-repeat left center;color:#000;font-size:1em;line-height:2;}
	.top-main .summary-l{overflow:hidden;margin-bottom:20px;padding:5px 10px;width:345px;height:57px;border-bottom:1px solid #b0120a;background:url(../images/back.png) repeat;}
	.top-main .summary-l span{padding:0 1px;border-radius:3px;background:#b0120a;color:#fff;font-size:12px;}
	.top-main .summary-l a{color:#000;font-weight:700;font-size:1em;}
	.top-main .summary-l a.block-tit{margin-right:10px;}
	.top-main .summary-l p{color:#333;font-size:1em;}
	.top-main .summary-l .tab a{float:left;display:inline;padding:10px 4px 2px 0;font-weight:normal;font-size:1em;}
	.top-main .summary-s{position:relative;margin-bottom:20px;width:365px;}
	.top-main .tab-class{position:absolute;right:0;bottom:0;width:35px;height:20px;background:#b0120a;color:#fff;text-align:center;font-size:1em;line-height:1.5;}
	.top-main .news_block .pic em{overflow:hidden;height:20px;font-size:.8em;line-height:1.8;}
	.top-main .news_block .pic span{height:20px;}
	.slide_show .page{bottom:2px;}
	.top-main .summary-s .summary{position:relative;padding:5px 10px;width:153px;height:57px;border-bottom:1px solid #b0120a;background:url(../images/back.png) repeat;font:1em/1.5 "微软雅黑";}
	.area-wrapper .tab-kp{font-weight:700;}
	.area-wrapper span.tab-title{margin-left:10px;color:#000;}
	.area-wrapper .tab-kp{font-weight:700;}
	.area-wrapper span.tab-con{display:inline-block;width:100px;height:40px;background:#b0120a;text-align:center;font-weight:700;}
}