@charset "utf-8";
/* CSS Document */
body { line-height:20px;}
.box{ width:1170px; margin:0 auto; text-align:left;}
.row{ _width:1200px;}

.bgW{ background:#fff;}
.bgR{ background:#b41e16;}
.bgG{ background:#6e6e6e;}
.bgW{ padding:30px 0; text-align:center;}

.mLose{ margin:0 -15px;}
.mJust{ margin:0 15px;}
.marB{ margin-bottom:30px;}

.hidePc{ display:none;}

/*--头部导航--*/
.topBar{ background:#666; height:62px; text-align:center;}
.topBarBox{ position:relative; height:62px;}
.topBarBox .logoBox{ position:absolute; z-index:10; left:0; top:0; height:69px; width:200px; background:#aa1515;}
.topBarBox .logoBox a{ display:block; height:0px; padding-top:69px; overflow:hidden; background:url(../images/logo.jpg) no-repeat;}
.topBarBox .mainNav{ margin-left:240px;}
.topBarBox .mainNav li{ float:left; display:inline; margin:0 5px; padding:0 5px; height:58px; border-bottom:4px solid #666;}
.topBarBox .mainNav li.cur{ border-bottom:4px solid #d50a00;}
.topBarBox .mainNav li a,.topBarBox .mainNav li span{ line-height:58px; height:58px; color:#fff; font-size:18px; font-weight:700; letter-spacing:3px; cursor:pointer;}
.topBarBox .searchBox { position:absolute; right:0; top:14px; height:36px; text-align:right; background:#d1d1d1; width:36px; overflow:hidden;}
.topBarBox .searchBox input.searchBtn{ position:absolute; z-index:10; right:0; top:0; width:36px; height:36px; background:#d1d1d1 url(../images/icon.png) no-repeat; cursor:pointer;}
.topBarBox .searchBox input.searchTxt{ margin-left:5px; margin-right:36px; height:36px; line-height:36px; background:none;}

/*--------------------------------------*/
.rankBox,.catchUpTV{ overflow:hidden; width:270px; position:relative;}
.smgMake{ overflow:hidden; width:570px; position:relative;}
.rankBox h2.tit,.smgMake h2.tit,.catchUpTV h2.tit,.mediaPerson h2.tit{ padding-top:30px; height:0px; overflow:hidden; margin:0px; background:#fff url(../images/tit.png) no-repeat; _background:url(../images/tit.gif) no-repeat; position:relative; line-height:100px;}
.rankBox h2.tit{ background-position:0 -85px;}
.smgMake h2.tit{ background-position:0 -45px;}
.catchUpTV h2.tit{ background-position:0 -5px;}
.mediaPerson h2.tit{ width:112px; background-position:0 -120px;}

.rankList a,.smgMake a{ display:block;}

/*--热点--*/
.rankBox .tabtit{ position:absolute; z-index:10; top:5px; right:0;}
.rankBox .tabtit span{ width:7px; height:7px; display:inline-block; overflow:hidden; border:2px solid #ccc; background:#666; margin-left:10px; border-radius:6px; line-height:8px; cursor:pointer;}
.rankBox .tabtit span.cur{ background:#f00;}
.rankCon{ margin-top:-2px;}
.rankList{ position:relative; padding-top:10px;}
.rankList span.num{ position:absolute; z-index:10; left:0; top:8px; width:20px; height:20px; text-align:center; overflow:hidden; color:#fff; font-size:12px;}
.rankList .pictit{ display:none;}
.ranktxt{ border-bottom:1px solid #eee; position:relative; padding-left:32px; height:66px; _height:60px;}
.ranktxt p{ margin-top:-6px; _margin-top:-4px; height:40px; overflow:hidden;}
.ranktxt span.tag{ position:absolute; z-index:10; right:0; bottom:0; _bottom:-1px; padding:0 8px; height:20px; line-height:20px; overflow:hidden; text-align:center; background:#eee; color:#999; font-size:12px;}

/*--SMG出品--*/
.smgMakeTit{ position:absolute; z-index:10; right:-11px; top:3px;}
.smgMakeTit span{ float:right; display:inline-block; padding:0 10px; border-right:1px dotted #dcdcdc; font-size:12px;}
.smgMake ul{ width:585px; margin-top:-15px;}
.smgMake li{ float:left; display:inline; padding-top:10px; padding-bottom:9px; margin-right:15px; margin-top:15px; width:180px; overflow:hidden; border-bottom:1px solid #c3c3c3;}
.smgMake .pictit{ position:relative; height:102px; overflow:hidden;}
.smgMake .pictit span.tag{ position:absolute; z-index:10; top:0; right:0; background:#607d8b; color:#fff; padding:0 10px; height:25px; line-height:25px; font-size:12px;}
.smgMake .pictit img{ width:100%;}
.smgMake .title{ font-weight:700; height:3em; overflow:hidden; margin-top:10px;}
.smgMake span.time{ font-size:12px; color:#888; display:block; margin-top:10px; font-family:Arial;}

/*--电视回看--*/
.catchUpTVBox{ width:270px; overflow:hidden; margin-top:-10px;}
.catchUpTVLeft{ float:left; display:inline;}
.catchUpTVRight{ float:right; display:inline;}
.catchUpTVLeft,.catchUpTVRight{ width:130px; overflow:hidden; padding-top:10px;}
.catchUpTVLeft li,.catchUpTVRight li{ padding-top:10px; float:left; display:inline; width:130px;}
.catchUpTVBox .hLink{ width:60px; overflow:hidden;}
.catchUpTVBox a img{ display:block; width:100%;}

/*--媒体人--*/
.mediaPerson{ background:url(../images/line.gif) repeat-x 0 5px;}
.mediaBox{ margin-top:-15px;}
.mediaBox li{ float:left; display:inline; width:270px; overflow:hidden; margin:30px 15px 0 15px;}
.mediaBox li .pictit{ width:80px; height:80px; overflow:hidden; position:relative;}
.mediaBox li .pictit img{ display:block;}
.mediaBox li .pictit span.name{ position:absolute; left:0; bottom:0; height:20px; line-height:20px; width:80px; text-align:center; color:#fff; font-size:12px; background:rgba(0,0,0,0.5);_background:#000;}
.mediaBox li .newest{ border:1px solid #dbdbdb; border-left:0; background:#eee; height:78px; padding:0 15px; width:159px; overflow:hidden;}
.mediaBox li .newest p.title{ font-weight:700; line-height:30px; height:30px; overflow:hidden;}
.mediaBox li .newest p.intro{ height:40px; overflow:hidden;}

/*--栏目版块--*/
.board-container{ width:992px; margin:0 auto;}
.bg_grey{ background:#eeeeee;}
.bg_greyer{ background:#616161;}
.marR{ margin-right:14px;}
.marRL{ margin-left:7px; margin-right:7px;}
.marL{ margin-left:14px;}
.board-container .newstit { float:left;}
.board-container .newstit .imgset, .newstit .imgset2,.newstit ul{ width:270px; height:230px;}
.board-container .newstit img{ width:270px; height:150px;}
.board-container .newstit .imgset3 {width:270px; height:70px; margin-bottom:10px;}
.board-container .newstit .imgset3 img, .board-container .newstit .imgset3 p{ float:left; width:120px; height:70px;}
/*看看图解*/
.board-container .swiper-container{ height: 230px; overflow: hidden;}
.board-container .swiper-container .kkimg{ width:370px; overflow: hidden;}
.board-container .swiper-container .swiper-slide, .board-container .swiper-container .swiper-slide .kkimg{ float:left; display:inline; height: 230px; overflow: hidden;}
.board-container .swiper-container .swiper-slide .kkimg img{ width:370px;}
.board-container .pagination { text-align: center; padding-bottom: 20px; margin-top:20px;}
.board-container .pagination span.swiper-pagination-switch{ display: inline-block; margin-left: 10px; width: 12px; height: 12px; overflow: hidden; background: #808080; border: 2px solid #d0d0d0; border-radius: 8px; text-indent: 10em;cursor: pointer;}
.board-container .pagination span.swiper-visible-switch.swiper-active-switch {background: #f00;}




/* pcK.css */
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.bg_first{min-width:1170px;background:url(../images/first_bg.png) no-repeat center top;}

/*头块*/
.area-wrapper{margin:0 auto;width:1170px;text-align: left;}
.area-wrapper .top-main .new-con{float:left;display:inline;font-family:"微软雅黑";line-height:22px;}
.area-wrapper .top-main .main-con{float:left;display:inline;width: 600px;}
.area-wrapper .slide_show .swiper-container{width:570px;height:360px;background:url(../images/back.png) repeat;margin:0 auto;position:relative;overflow:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;/* Fix of Webkit flickering */z-index:1;}
.area-wrapper .slide_show .swiper-wrapper{position:relative;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;width:100%;-webkit-transition-timing-function:ease;-moz-transition-timing-function:ease;-o-transition-timing-function:ease;transition-timing-function:ease;-webkit-transition-duration:0s;-moz-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s;-webkit-transition-property:-webkit-transform,left,top;-moz-transition-property:-moz-transform,left,top;-o-transition-property:-o-transform,left,top;transition-property:transform,left,top;-webkit-transform:translate3d(0px,0,0);-moz-transform:translate3d(0px,0,0);-o-transform:translate3d(0px,0,0);-o-transform:translate(0px,0px);transform:translate3d(0px,0,0);-ms-transition-property:-ms-transform,left,top;-ms-transition-duration:0s;-ms-transform:translate3d(0px,0,0);-ms-transition-timing-function:ease;}
.area-wrapper .slide_show .swiper-slide{width: 570px;float: left;position:relative;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.area-wrapper .slide_show .swiper-slide .share,.pic .share{position:absolute;top:0;left:0;z-index:10;display:none;width:60px;height:28px;background:url(../images/share.png);}
.area-wrapper .slide_show .swiper-slide .share i,.pic .share i{position:relative;z-index:10;float:left;width:30px;height:30px;cursor:pointer;}
.area-wrapper .slide_show{position:relative;margin-bottom:30px;width:570px;height:360px;}
.area-wrapper .slide_block{position:relative;height:320px;width: 570px;cursor: pointer;}
.area-wrapper .slide_block .cover{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.2);}
.area-wrapper .slide_show .slide_block img{width:570px;height:320px;}
.area-wrapper .slide_title{position:relative;height:40px;color:#fff;font-size:18px;font-family:"微软雅黑";line-height:40px;}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal{-ms-touch-action:pan-y;}
.swiper-wp8-vertical{-ms-touch-action:pan-x;}

/*新闻图片文字*/
.top-main .news_wrapper{float:left;display:inline;padding-right:30px;width:270px;}
.top-main .news_wrapper .pic{height:150px;}
.top-main .news_block .pic{position:relative;}
.top-main .news_block .pic a{display:block;}
.top-main .news_block .pic a img{display:block;width:100%;vertical-align:middle;}
.top-main .news_block .pic span{position:absolute;bottom:0;left:0;z-index:3;display:block;width:100%;height:35px;background:#000;opacity:.5;-moz-opacity:.5;filter:alpha(opacity=50);}
.top-main .news_block .pic em{position:absolute;bottom:0;left:0;z-index:4;display:block;overflow:hidden;width:100%;height:35px;color:#fff;text-align:center;font-weight:700;font-style:normal;font-size:14px;line-height:35px;}
.top-main .txt{padding:13px 0 12px 15px;background:url(../images/back.png) repeat;}
.top-main .txt li{padding-left:7px;background:url(../images/point.png) no-repeat left center;color:#000;font-size:14px;line-height:30px;}
/*板块新闻*/
.top-main .summary-l{margin-bottom:30px;padding:10px 20px;width:530px;height:80px;border-bottom:1px solid #b0120a;background:url(../images/back.png) repeat;}
.top-main .summary-l a{display:inline-block;margin:5px 0;color:#000;font-weight:700;font-size:16px;}
.top-main .summary-l a.block-tit{margin-right:10px;}
.top-main .summary-l p{color:#000;font-size:14px;font-family:"微软雅黑";}
.top-main .summary-l span{padding:0 1px;border-radius:3px;background:#b0120a;color:#fff;font-size:12px;}
.top-main .summary-l .tab a{float:left;display:inline;padding:0 5px 2px 0;font-weight:normal;font-size:14px;font-family:"微软雅黑";}
.top-main .summary-s{position:relative;margin-bottom:30px;width:570px;}
.top-main .tab-class{position:absolute;right:0;bottom:0;width:50px;height:25px;background:#b0120a;color:#fff;text-align:center;font-size:12px;line-height:25px;}
.top-main .summary-s .summary{position:relative;padding:20px 20px;width:230px;height:60px;border-bottom:1px solid #b0120a;background:url(../images/back.png) repeat;font:16px/25px "微软雅黑";}
.area-wrapper .tab-kp{font-weight:700;}
.area-wrapper span.tab-con{display:inline-block;width:100px;height:40px;background:#b0120a;text-align:center;font-weight:700;}
.area-wrapper span.tab-title{margin-left:10px;color:#000;}


/*滚动点*/
.slide_show .btn{line-height:0;}
.slide_show .page{position:absolute;right:10px;bottom:18px;display:inline;}
.slide_show .page span{display:inline-block;overflow:hidden;margin:0 1px;width:20px;height:4px;background:url(../images/line.png) no-repeat;background-position:-20px -36px;cursor:pointer;}
.slide_show .page span.swiper-visible-switch{background-position:-20px -11px;}
.slide_show .page span.swiper-active-switch{background-position:0 -11px;-moz-animation:a_slidercurrent 5s linear;-webkit-animation:a_slidercurrent 5s linear;-o-animation:a_slidercurrent 5s linear;animation:a_slidercurrent 5s linear;}
@-moz-keyframes a_slidercurrent { from { background-position: -20px -11px; } to { background-position: 0px -11px;} }
@-webkit-keyframes a_slidercurrent { from { background-position: -20px -11px; } to { background-position: 0px -11px;} }
@-o-keyframes a_slidercurrent { from { background-position: -20px -11px; } to { background-position: 0px -11px;} }
@keyframes a_slidercurrent{ from { background-position: -20px -11px; } to { background-position: 0px -11px;} }
@-moz-keyframes a_slidercurrent_b{ from { background-position: -20px -11px; } to { background-position: 0px -11px;} }
@-webkit-keyframes a_slidercurrent_b { from { background-position: -20px -11px; } to { background-position: 0px -11px;} }
@-o-keyframes a_slidercurrent_b { from { background-position: -20px -11px; } to { background-position: 0px -11px;} }
@keyframes a_slidercurrent_b { from { background-position: -20px -11px; } to { background-position: 0px -11px;} }






@media (min-width: 1170px) {
	.board-container{ width:1170px;}
	.marR{ margin-right:20px;}
	.marRL{ margin-left:10px; margin-right:10px;}
	.marL{ margin-left:20px;}
}