#header .backbtn{background-image:url(../images/720/btn_back.png);}
#header .headerbtn .menubtn{background-image:url(../images/720/btn_menu.png);}
.main_face{background-image:url(../images/720/face.png);}
.main_btn_work{background-image:url(../images/720/icon_work.png);}
.main_btn_mood{background-image:url(../images/720/icon_mood.png);}
.main_btn_photo{background-image:url(../images/720/icon_photo.png);}
.main_btn_info{background-image:url(../images/720/icon_info.png);}
