@charset "utf-8";
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul,img{margin:0;padding:0}
body{background:black;overflow:hidden}
body{font:16px/1.5 微软雅黑}
ul{list-style:none}
.clearfix:after{display:block;content:"\20";height:0;clear:both;overflow:hidden;visibility:hidden}
#main{position:relative}
#container{position:relative}
.main_btn{width:45%;margin-bottom:10px;margin-right:5%;float:left}
/* 初始spa css */
/*.spa-page-body{
	background: #000;
}*/
a:hover, a:focus{
	text-decoration: none;
}
/* 滑动 */
.swiper-pagination-switch {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: #EFEFEF;
	box-shadow: 0px 1px 2px #555 inset;
	margin: 0 3%;
	cursor: pointer;
}
.swiper-active-switch {
	background: #4c80fc;
}
.pagination {
	position: fixed;
	right: 10px;
	height: 100%;
	width: 10px;
	top: 40%;
}

/* 首页 */
#slide_three{background:#09090a}
#slide_three .container{width:90%;margin:0 auto}
#indexo{width:40%;position:absolute;top:32%;left:22%}
#indext{width:30%;position:absolute;top:20%;right:21%}
#slide_three p{position:absolute;right:20%;bottom:10%;color:#fff;font:1.5em/1 "微软雅黑";}
.indexw{position:relative}
.indeximg i{width:100%;display:block;border-radius:50%}
.indeximg i img{width:100%;display:block;vertical-align:middle;border-radius:50%;border:1px solid #393a18}
.swiper-slide-active #indexo img,.swiper-slide-active #indext img{
	display:block;-webkit-backface-visibility:hidden;
	-webkit-animation-name:large;
	animation-name:large;
	-webkit-animation-duration:3s;
	animation-duration:3s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
}
@-webkit-keyframes large{
	0%{-webkit-transform:scale(2,2);transform:scale(2,2);}
	100%{-webkit-transform:none;transform:none;}
}

/* 第二页  气球 */
#slideone{background:#1e1b2e url(../images/index2_back.jpg) center top no-repeat;}
/* 图片 */
/*#img_container{
	position: relative;
	overflow: scroll;
	height: 100%;
}*/
.img-container{
	position: absolute;
	left: 0;
	right: 0;
	top: 0px;
	bottom: 0;
}
#imgshow{
	max-width: 640px;
	margin: 0 auto;
}
#imgshow .banner{
	width: 100%;
}
#imgshow .img-list{
	padding-top: 15px;
}
#imgshow .img-content{
	margin-bottom: 10px;
}
#imgshow .title-nav{
	padding-bottom: 10px;
	padding-left: 2%;
	width: 100%;
}
#imgshow span.fenlei{
	display: inline-block;
	padding:5px;
	border-left: 5px solid blue;
	color: #ccc;
	font-size: 16px;
}
#imgshow .img-in{
	cursor: pointer;
	margin-left: 2%;
	width:47%;
	float: left;
	display: inline-block;
}
#imgshow .img-in img{
	width:100%;
	display:block;
}
#imgshow .container{
	padding: 0px;
}
/* 第三页 祝福*/
#slidetwo{background:#fff;}
#slidetwo .container{position:relative;}
.right_inf{position:absolute;top:40%;color:#000;font:1.2em/1.5 "黑体";width: 100%;text-align: center;}
.left_img{position:relative;float:right;width:50%;height:100%;background:#fff;text-align: center;display: block;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.left_img i{display:inline;}
.left_img i img{display:block;height:100%;vertical-align:middle;}
.swiper-slide-active .left_img{-webkit-animation-name:down;animation-name:down;-webkit-backface-visibility: hidden;}
@-webkit-keyframes down{0%{-webkit-transform:translate3d(0,-500px,0);transform:translate3d(0,-500px,0);}
100%{-webkit-transform:none;transform:none;}
}
@keyframes down{0%{-webkit-transform:translate3d(0,-500px,0);transform:translate3d(0,-500px,0);-ms-transform:translate3d(0,-500px,0);}
100%{-webkit-transform:none;transform:none;-ms-transform:none;}
}
.right_img{position:absolute;top:0;left:0;width:50%;height:100%;background:#fff;}
.right_img i{display:block;width:100%;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.right_img i img{display:block;width:100%;vertical-align:middle;}
.swiper-slide-active .move-up{-webkit-animation-name:up;animation-name:up;-webkit-backface-visibility: hidden;}
@-webkit-keyframes up{0%{-webkit-transform:translate3d(0,200px,0);transform:translate3d(0,200px,0);}
100%{-webkit-transform:none;transform:none;}
}
@keyframes up{0%{-webkit-transform:translate3d(0,200px,0);transform:translate3d(0,200px,0);-ms-transform:translate3d(0,200px,0);}
100%{-webkit-transform:none;transform:none;-ms-transform:none;}
}
/* 主页 */
#index_home{background:#09090a;}
#index_home .container{position:relative;}
#index_home .homeW{height: 100%;width: 100%;text-align: center;}
#index_home .homeW .portrait{width:40%;max-width: 360px;display: inline-block;}
#index_home .homeW .portrait i{display:block;padding:5%;width:100%;border-radius:50%;background:#5d6d7e;}
#index_home .homeW .portrait i img{display:block;width:100%;border:1px solid #393a18;border-radius:50%;vertical-align:middle;}
#index_home .homeW .cool{width: 20%;max-width: 120px;max-height: 120px;}
#index_home .homeW .food{position:absolute;top:20%;left:5%;border-radius:50%;background:rgb(30, 103, 30);}
#index_home .homeW .pic{position:absolute;top:20%;right:5%;border-radius:50%;background:rgb(187, 29, 29);}
#index_home .homeW .music{position:absolute;right:5%;bottom:20%;border-radius:50%;background:rgb(160, 160, 2);}
#index_home .homeW .message{position:absolute;bottom:20%;left:5%;border-radius:50%;background:rgb(26, 59, 118);}
.homeW .food i,.homeW .pic i,.homeW .music i,.homeW .message i{display:block;color:#fff;text-align:center;font:1em/1 "黑体";}
.homeW .food i img,.homeW .pic i img,.homeW .music i img,.homeW .message i img{display:block;padding:10% 25% 0;width:100%;vertical-align:middle;}

/* 资料 */
.wallace_data{margin:0 auto;max-width:600px;}
.wa_img{width:100%;}
.wa_img img{display:block;width:100%;}
.intro{padding:1% 5%;border:#cecece;background: #fff;margin: 0 auto;font: 1em/1.4 "黑体";}
.wallace_data{background: #fff;}

/* 蛋糕 */
.pin{padding:5px 0 0 5px;float:left}
.img-container .box{float:left;padding-left:0;border:1px solid #ccc;box-shadow:0 0 6px #ccc;border-radius:5px}
.img-container .box img{width:auto}
.large{width:100%;height:100%;position:absolute;top:0;left:0;background-color:black;z-index:3000}
.container{position:relative}
.wallace_eat{width:100%;position:fixed;bottom:30%;left:0;text-align:center;}
.wallace_eat i{width:40%;height:100%;display:inline-block;border-radius: 50%;max-width: 240px;}
.wallace_eat i img{display:block;width:100%;border-radius: 50%;}
.wallace_eat{
	-webkit-backface-visibility: hidden;
	-webkit-animation: 3s pulse infinite;
}
.cakw{width:100%;position:fixed;bottom:5%;left:0;text-align:center;}
.cakw i{width:35%;height:100%;display:inline-block;max-width: 120px;}
.cakw i img{display:block;width:100%}

/*音乐*/
body{color:#666;font-family:sans-serif;}
h1{margin:0;padding:14px 2px 12px;color:#444;font-size:1.2em;}
h1 em{color:#999;font-style:normal;}
a{color:#888;text-decoration:none;}
#wrapper{width:200px;}
.audiojs{position: fixed;top: 0px;left: 0px;}
ul.list-group{margin:0;padding:0;width:200px;border-top:1px solid #ccc;color:#ccc;list-style:decimal-leading-zero inside;font-size:.9em;margin-top: 35px;}
ul.list-group li {
	position: relative;
	margin: 0;
	margin-left: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
ul.list-group li a{display:inline-block;padding:0 0 0 20px;text-indent:-3.3ex;width: 47%;}
ul.list-group li img{
	float: right;
}
li.playing{color:#aaa;text-shadow:1px 1px 0 rgba(255,255,255,0.3);}
li.playing a{color:#000;}
li.playing:before{position:absolute;top:9px;left:-24px;margin:0;padding:3px;width:14px;height:14px;color:#000;content:'♬';text-shadow:1px 1px 0 rgba(0,0,0,0.2);font-size:13px;line-height:40px;}
#shortcuts{position:fixed;bottom:0;margin:60px 0 0;padding:20px 20px 15px;width:100%;background:#f3f3f3;background:rgba(240,240,240,0.7);color:#666;font-size:.9em;}
#shortcuts div{margin:0 auto;width:460px;}
#shortcuts h1{margin:0 0 6px;}
#shortcuts p{margin:0 0 18px;}
#shortcuts em{position:relative;left:-3px;padding:3px 9px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background:#d3d3d3;-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.1);-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.1);box-shadow:1px 1px 2px rgba(0,0,0,0.1);font-style:normal;-o-border-radius:4px;-o-box-shadow:1px 1px 2px rgba(0,0,0,0.1);}
@media screen and (max-device-width:480px){#wrapper{position:relative;left:-3%;}
#shortcuts{display:none;}
}

/* 气球 */
.balloon{position:relative;margin:0 auto;padding-top:30px;width:738px;}
.balloon>div{position:absolute;margin:0 auto;padding:10px;width:104px;height:140px;border-radius:0;border-radius:80% 80% 80% 80%;background:rgba(182,15,97,0.9);box-shadow:inset 17px 7px 10px rgba(182,15,97,0.9);-webkit-transform-origin:bottom center;}
.balloon>div:nth-child(1){left:0;background:rgba(182,15,97,0.9);box-shadow:inset 10px 10px 10px rgba(135,11,72,0.9);-webkit-animation:balloon1 6s ease-in-out infinite;-moz-animation:balloon1 6s ease-in-out infinite;-o-animation:balloon1 6s ease-in-out infinite;animation:balloon1 6s ease-in-out infinite;}
.balloon>div:nth-child(1):before{color:rgba(182,15,97,0.9);}
.balloon>div:nth-child(2){left:100px;background:rgba(242,112,45,0.9);box-shadow:inset 10px 10px 10px rgba(222,85,14,0.9);-webkit-animation:balloon2 6s ease-in-out infinite;-moz-animation:balloon2 6s ease-in-out infinite;-o-animation:balloon2 6s ease-in-out infinite;animation:balloon2 6s ease-in-out infinite;}
.balloon>div:nth-child(2):before{color:rgba(242,112,45,0.9);}
.balloon>div:nth-child(3){left:210px;background:rgba(45,181,167,0.9);box-shadow:inset 10px 10px 10px rgba(35,140,129,0.9);-webkit-animation:balloon4 6s ease-in-out infinite;-moz-animation:balloon4 6s ease-in-out infinite;-o-animation:balloon4 6s ease-in-out infinite;animation:balloon4 6s ease-in-out infinite;}
.balloon>div:nth-child(3):before{color:rgba(45,181,167,0.9);}
.balloon>div:nth-child(4){left:330px;background:rgba(190,61,244,0.9);box-shadow:inset 10px 10px 10px rgba(173,14,240,0.9);-webkit-animation:balloon1 5s ease-in-out infinite;-moz-animation:balloon1 5s ease-in-out infinite;-o-animation:balloon1 5s ease-in-out infinite;animation:balloon1 5s ease-in-out infinite;}
.balloon>div:nth-child(4):before{color:rgba(190,61,244,0.9);}
.balloon>div:nth-child(5){left:450px;background:rgba(180,224,67,0.9);box-shadow:inset 10px 10px 10px rgba(158,206,34,0.9);-webkit-animation:balloon3 5s ease-in-out infinite;-moz-animation:balloon3 5s ease-in-out infinite;-o-animation:balloon3 5s ease-in-out infinite;animation:balloon3 5s ease-in-out infinite;}
.balloon>div:nth-child(5):before{color:rgba(180,224,67,0.9);}
.balloon>div:nth-child(6){left:570px;background:rgba(242,194,58,0.9);box-shadow:inset 10px 10px 10px rgba(234,177,15,0.9);-webkit-animation:balloon2 3s ease-in-out infinite;-moz-animation:balloon2 3s ease-in-out infinite;-o-animation:balloon2 3s ease-in-out infinite;animation:balloon2 3s ease-in-out infinite;}
.balloon>div:nth-child(6):before{color:rgba(242,194,58,0.9);}
.balloon>div:before{position:absolute;bottom:-11px;left:52px;color:rgba(182,15,97,0.9);content:"▲";font-size:1em;}
.balloon span{position:relative;top:30px;left:50%;margin-left:-27px;color:white;font-size:4.8em;}
@-webkit-keyframes balloon1{0%,100%{-webkit-transform:translateY(0) rotate(-6deg);}
50%{-webkit-transform:translateY(-20px) rotate(8deg);}
}
@-moz-keyframes balloon1{0%,100%{-moz-transform:translateY(0) rotate(-6deg);}
50%{-moz-transform:translateY(-20px) rotate(8deg);}
}
@-o-keyframes balloon1{0%,100%{-o-transform:translateY(0) rotate(-6deg);}
50%{-o-transform:translateY(-20px) rotate(8deg);}
}
@keyframes balloon1{0%,100%{transform:translateY(0) rotate(-6deg);}
50%{transform:translateY(-20px) rotate(8deg);}
}
@-webkit-keyframes balloon2{0%,100%{-webkit-transform:translateY(0) rotate(6eg);}
50%{-webkit-transform:translateY(-30px) rotate(-8deg);}
}
@-moz-keyframes balloon2{0%,100%{-moz-transform:translateY(0) rotate(6deg);}
50%{-moz-transform:translateY(-30px) rotate(-8deg);}
}
@-o-keyframes balloon2{0%,100%{-o-transform:translateY(0) rotate(6deg);}
50%{-o-transform:translateY(-30px) rotate(-8deg);}
}
@keyframes balloon2{0%,100%{transform:translateY(0) rotate(6deg);}
50%{transform:translateY(-30px) rotate(-8deg);}
}
@-webkit-keyframes balloon3{0%,100%{-webkit-transform:translate(0,-10px) rotate(6eg);}
50%{-webkit-transform:translate(-20px,30px) rotate(-8deg);}
}
@-moz-keyframes balloon3{0%,100%{-moz-transform:translate(0,-10px) rotate(6eg);}
50%{-moz-transform:translate(-20px,30px) rotate(-8deg);}
}
@-o-keyframes balloon3{0%,100%{-o-transform:translate(0,-10px) rotate(6eg);}
50%{-o-transform:translate(-20px,30px) rotate(-8deg);}
}
@keyframes balloon3{0%,100%{transform:translate(0,-10px) rotate(6eg);}
50%{transform:translate(-20px,30px) rotate(-8deg);}
}
@-webkit-keyframes balloon4{0%,100%{-webkit-transform:translate(10px,-10px) rotate(-8eg);}
50%{-webkit-transform:translate(-15px,20px) rotate(10deg);}
}
@-moz-keyframes balloon4{0%,100%{-moz-transform:translate(10px,-10px) rotate(-8eg);}
50%{-moz-transform:translate(-15px,10px) rotate(10deg);}
}
@-o-keyframes balloon4{0%,100%{-o-transform:translate(10px,-10px) rotate(-8eg);}
50%{-o-transform:translate(-15px,10px) rotate(10deg);}
}
@keyframes balloon4{0%,100%{transform:translate(10px,-10px) rotate(-8eg);}
50%{transform:translate(-15px,10px) rotate(10deg);}
}
h1{position:relative;top:200px;color:white;text-align:center;font-size:3.5em;}